<section class="phx-hero">
  <h1><%= gettext "Welcome to TSheeter!" %></h1>
  <p>TSheeter is a webapp that connects Slack to TSheets and can
  remind you at a certain time of day if you haven't submitted your
  time sheets. To get started, open a DM with TSheeter on Slack.</p>
</section>
